<!-- 
Example launch file: uses laser_scan_matcher together with
slam_gmapping 
-->

<launch>

  <!-- laser的topic名称，与自己的激光的topic相对应 -->
  <arg name="scan_topic"  default="scan_filtered" />
  <!-- 机器人的坐标系 -->
  <arg name="base_frame"  default="base_link"/>
  <!-- 世界坐标系 -->
  <arg name="odom_frame"  default="odom"/>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
      <rosparam command="load" file="$(find qt_app)/params/laser_filter.yaml" />
  </node>

  <!-- tf发布节点 -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser 100" />
  <!-- 控制节点 -->
  <node pkg="qt_app" type="qt_app_node" name="control"/>
  <!-- 激光扫描节点 -->
  <node pkg="urg_node" type="urg_node" name="hokuyo_laser_node" /> 
  <!-- rviz节点 -->
  <node pkg="rviz" type="rviz" name="rviz" 
    args="-d $(find laser_scan_matcher)/demo/demo_gmapping.rviz"/>
  <!-- laser_scan_matcher节点 -->
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
    <param name="fixed_frame" value = "odom"/>
    <param name="max_iterations" value="10"/>
    <param name="base_frame" value = "base_link"/>
    <param name="use_imu" value = "false"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
  <!-- gmapping节点 -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <!-- 地图更新的一个间隔，两次scanmatch的间隔，地图更新也受scanmach的影响，如果scanmatch没有成功的话，是不会更新地图的 -->
    <param name="map_update_interval" value="1"/>
    <!-- set maxUrange < maximum range of the real sensor <= maxRange -->
    <param name="maxUrange" value="6.0"/>
    <param name="maxRange" value="8.6"/>
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <!-- optimize机器人移动的初始值（距离） -->
    <param name="lstep" value="0.05"/>
    <!-- optimize机器人移动的初始值（角度） -->
    <param name="astep" value="0.05"/>
    <!-- icp的迭代次数 -->
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <!-- 为0,表示所有的激光都处理，尽可能为零，如果计算压力过大，可以改成1 -->
    <param name="lskip" value="0"/>
    <!-- 很重要，判断scanmatch是否成功的阈值，过高的话会使scanmatch失败，从而影响地图更新速率 -->
    <param name="minimumScore" value="100"/>
    <!-- 以下四个参数是运动模型的噪声参数 -->
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <!-- 机器人移动linearUpdate距离，进行scanmatch -->
    <param name="linearUpdate" value="0.05"/>
    <!-- 机器人选装angularUpdate角度，进行scanmatch -->
    <param name="angularUpdate" value="0.436"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <!-- 很重要，粒子个数 -->
    <param name="particles" value="80"/>
  <!--
    <param name="xmin" value="-50.0"/>
    <param name="ymin" value="-50.0"/>
    <param name="xmax" value="50.0"/>
    <param name="ymax" value="50.0"/>
  make the starting size small for the benefit of the Android client's memory...
  -->
    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/>
 
    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

</launch>

