<launch>

  <arg name="base_frame"  default="base_link"/>
  <!-- 世界坐标系 -->
  <arg name="odom_frame"  default="odom"/>

  <!-- tf发布节点 -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser 40" />

  <node pkg="urg_node" type="urg_node" name="hokuyo_laser_node" />

  <!-- laser_scan_matcher节点 -->
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
    <param name="fixed_frame" value = "odom"/>
    <param name="max_iterations" value="10"/>
    <param name="base_frame" value = "base_link"/>
    <param name="use_imu" value = "false"/>
  </node>

  <node pkg="transform_configuration_pkg" type="transform_configuration_type" name="transform_configuration_name" output="screen">
    <param name="transform_configuration_param" value="param_value" />
  </node>
</launch>