<!-- <launch>
<node pkg="tf"type="static_transform_publisher" name="link1_broadcaster"args="1 0 0 0 0 0 1 link1_parent link1 100" />
</launch> -->

  <launch>
    <!-- Turtlesim Node-->
    <!-- <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/> -->
    <!-- Axes -->
    <!-- <param name="scale_linear" value="2" type="double"/>
    <param name="scale_angular" value="2" type="double"/> -->

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.1 0 0.4 0 0 3.14 base_footprint laser 100" />
    <!-- <node pkg="trail" type="tf_broadcaster"
          args="/turtle1" name="my_tf_broadcaster" />
    <node pkg="trail" type="tf_broadcaster"
          args="/turtle2" name="my_tf_broadcaster2" />
    <node pkg="trail" type="tf_listener"
          name="listener" /> -->
    <!-- <node pkg="trail" type="frame_tf_broadcaster"
          name="broadcaster_frame" /> -->
  </launch>